/*for mobiles*/

@media only screen and (max-width:600px) {
    body {
        width: 100%;
        background-color: rgb(70, 65, 69);
    }
    .fl {
        display: none;
    }
    .flm {
        width: 100%;
        height: 1000px;
        z-index: 10;
    }
    .middle-mobile {
        border-radius: 50%;
        border: 2px solid black;
        width: 50%;
        height: 180px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        animation-name: fadeout;
        animation-duration: 2s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
    }
    #abc {
        width: 100%;
    }
    .navbar {
        opacity: 0;
        width: 100%;
        animation-name: fadein;
        animation-duration: 2s;
        animation-delay: 4s;
        animation-fill-mode: forwards;
    }
    .logoimg {
        opacity: 0;
        animation-name: fadein;
        animation-duration: 2s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
    }
    .nav-item {
        padding: 0;
        width: 100%;
        opacity: 0;
        animation-name: navitem;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        padding-left: 30px;
        padding-right: 30px;
        font-family: sans-serif;
        font-weight: 500;
    }
    .nav-link {
        position: relative;
    }
    .nav-link:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: rgb(255, 137, 1);
        transform-origin: bottom left;
        transition: transform 0.2s ease-out;
    }
    .nav-link:hover:after {
        transform: scaleX(1);
    }
    @keyframes navitem {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes fadeout {
        100% {
            opacity: 0;
        }
        0% {
            opacity: 1;
        }
    }
    @keyframes fadein {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}


/*for desktop*/

@media only screen and (min-width: 601px) {
    body {
        width: 100%;
        height: 625px;
        background-color: rgb(70, 65, 69);
        background-size: contain;
    }
    .flm {
        display: none;
    }
    .fl {
        display: inline-flex;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        z-index: 10;
    }
    #abc {
        display: none;
        width: 0%;
        animation-name: navanimation;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }
    @keyframes navanimation {
        0% {
            width: 0%;
        }
        100% {
            width: 100%;
        }
    }
    @keyframes navitem {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .navbar-nav {
        margin-right: 40px;
    }
    .logoimg {
        opacity: 0;
        animation-name: navitem;
        animation-duration: 2s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
    }
    .nav-item {
        padding: 0;
        width: 160px;
        text-align: center;
        opacity: 0;
        animation-name: navitem;
        animation-duration: 2s;
        animation-delay: 3s;
        animation-fill-mode: forwards;
        padding-left: 30px;
        padding-right: 30px;
        font-family: sans-serif;
        font-weight: 500;
    }
    .nav-link {
        position: relative;
    }
    .nav-link:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: rgb(255, 137, 1);
        transition: transform 0.2s ease-out;
    }
    .nav-link:hover:after {
        transform: scaleX(1);
    }
    .left-black {
        float: left;
        width: 683px;
        height: 625px;
        animation-name: element;
        animation-duration: 1.5s;
        animation-delay: 2s;
        animation-direction: alternate;
        animation-fill-mode: forwards;
    }
    .right-orange {
        float: right;
        width: 682px;
        height: 625px;
        animation-name: element;
        animation-duration: 1.5s;
        animation-delay: 2s;
        animation-direction: alternate;
        animation-fill-mode: forwards;
    }
    @keyframes element {
        from {
            width: 683px;
        }
        to {
            width: 0px;
        }
    }
}